
__pycache__/
revenv/


icons/

revnotes.cflags

revnotes.config

revnotes.creator

revnotes.creator.user

revnotes.cxxflags

revnotes.files

revnotes.includes

.ipynb_checkpoints/

indexdir/

whooshtest.ipynb
exbak/
